<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>css/main.css">

    <link rel="stylesheet" href="./css/main.css">

    <title>Marco Pennacchioni - Personal Website</title>
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app">

    <section>
        <header id="header">
            <h1>{{ title }}</h1>
            <p>HS Student &nbsp;&bull;&nbsp; Self-taught WebDev &nbsp;&bull;&nbsp; Photographer</p>
            <nav>
                <ul>
                    <li v-for="btn in btns" :key="Object.keys(btn)[0]">
                        <a :href="Object.values(btn)[0][1]" :class="Object.values(btn)[0][0]" class= "icon" ><span class="label">{{ Object.keys(btn)[0] }}</span></a>
                    </li>

                </ul>
            </nav>
        </header>
    </section>
    <section id="four" class=" style1 special fade-up">
        <div class="container">
            <header class="major">
                <h2>Accumsan sed tempus adipiscing blandit</h2>
                <p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
            </header>
            <div class="box alt">
                <div class="row gtr-uniform">
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-chart-area"></span>
                        <h3>Ipsum sed commodo</h3>
                        <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-comment"></span>
                        <h3>Eleifend lorem ornare</h3>
                        <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-flask"></span>
                        <h3>Cubilia cep lobortis</h3>
                        <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-paper-plane"></span>
                        <h3>Non semper interdum</h3>
                        <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-file"></span>
                        <h3>Odio laoreet accumsan</h3>
                        <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-lock"></span>
                        <h3>Massa arcu accumsan</h3>
                        <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                    </section>
                </div>
            </div>
            <footer class="major">
                <ul class="actions special">
                    <li><a href="#" class="button">Magna sed feugiat</a></li>
                </ul>
            </footer>
        </div>
    </section>
    <section id="five" class=" style2 special fade">
        <div class="container">
            <header>
                <h2>Magna faucibus lorem diam</h2>
                <p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
            </header>
            <form method="post" action="#" class="cta">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
                    <div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
                </div>
            </form>
        </div>
    </section>
    <section>
        <footer id="footer">
            <span class="copyright">&copy; 2022 {{ copyright }}.</span>
        </footer>
    </section>

</div>
<!-- built files will be auto injected -->
</body>
</html>
